header {
  width: 100%;
  padding: 10px !important;
  padding-left: 15px !important;
  margin: 0px !important;
}

.container {
  padding: 0px;
  padding-bottom: 20px;
}

header h1 {
  font-family: 'Signika', sans-serif;
  font-size: 50px;
}

form {
  padding: 15px;
}

form, #preview {
  margin: 0px;
}

#map {
  height: 300px;
}

#preview-image {
  min-width: 400px;
  min-height: 200px;
}

#preview-image > img {
  margin: auto;
}

.glyphicon {
  margin-left: 5px;
}

/******************************************************
* Colours
*
* Designed to complement google maps and general
* naturalistic atlas/map colour schems.
*
* Text - #111
* Body Background - #B3D1FF
* Other Backgrounds - #F2ECCF, #D5E7C4, #B8D7B4
******************************************************/

body {
  color: #111;
  background-color: hsl(216, 100%, 95%);
  background-image: url('../images/arches.png');
}

.container {
  border: solid 1px #EEE;
  border-top: none;
  border-bottom: none;
}

header {
  color: hsl(91, 65%, 85%);
  background-color: hsl(91, 42%, 63%);
}

form {
  background-color: white;
}

#preview {
  border: solid 5px hsl(91, 65%, 85%);
  background-color: white;
}
