/* Remove container padding */
.container {
  padding: 0px;
  padding-bottom: 20px;
}

/* Align header */
header {
  width: 100%;
  padding: 10px !important;
  padding-left: 15px !important;
  margin: 0px !important;
}

/* Give the header a different font */
header h1 {
  font-family: 'Signika', sans-serif;
  font-size: 50px;
}

/* Align the form */
form, .container > div {
  margin: 0px;
}

/* Set the height of the bounding box map */
#map {
  height: 300px;
}

/* Give the layer selection list more height */
#wms-layers {
  height: 200px;
}

/* Give CQL filter textbox some more height */
#ecql-filter {
  height: 120px;
}

/* Give the preview image some size*/
#preview-image {
  min-width: 400px;
  min-height: 200px;
}

#preview-image > img {
  margin: auto;
}

/* Ensure the request url wraps */
a#result-url {
  word-wrap: break-word;
}

/******************************************************
*
* Builder Sections
*
* Include a heading with an icon and title and some collapsible content
*
******************************************************/

.panel-heading {
  font-size: 25px;
}

.panel-title {
  display: inline-block;
  font-size: 30px;
}


/******************************************************
* Colours
*
* Designed to complement google maps and general
* naturalistic atlas/map colour schems.
*
* Text - #111
* Body Background - #B3D1FF
* Other Backgrounds - #F2ECCF, #D5E7C4, #B8D7B4
******************************************************/

body {
  color: #111;
  background-color: hsl(216, 100%, 95%);
  background-image: url('../images/arches.png');
}

.container {
  border: solid 1px #EEE;
  border-top: none;
  border-bottom: none;
  background-color: white;
}

header {
  color: hsl(91, 65%, 85%);
  background-color: hsl(91, 42%, 63%);
}

.panel-primary {
  background: #F2ECCF;
}

form {
  background-color: white;
}

.container > div {
  background-color: white;
}
