<!doctype>
<html ng-app="wms-builder">
  <head>
    <title>WMS Builder</title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="lib/jquery-2.0.3.min.js"></script>
    <script src="lib/xml2json.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="js/wms-builder.js"></script>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  </head>

  <body ng-controller="builder">
    <h1>WMS Builder</h1>

    <form>
      <fieldset>
        <label for="host">
          Select a WMS server:
          <select name="host" ng-model="host" ng-options="hostUrl as hostName for (hostName, hostUrl) in hosts"></select>
        </label>

        <label for="serviceType">
          Select a service type:
          <select name="serviceType" ng-model="serviceType" ng-options="serviceType for serviceType in serviceTypes"></select>
        </label>

        <label for="requestType">
          Select a request type:
          <select name="requestType" ng-model="requestType" ng-options="requestType as requestType for (requestType, request) in requestTypes"></select>
        </label> 

        <label for="format">
          Select an output format
          <select name="format" ng-model="format" ng-options="format for format in requestTypes[requestType].formats"></select>
        </label>  

        <fieldset class="row">
          Input the geographic bounds for this request:
          <label for="minx">
            <input name="minx" ng-model="bbox.minx">
          </label>
          <label for="maxx">
            <input name="maxx" ng-model="bbox.maxx">
          </label>
          <label for="miny">
            <input name="miny" ng-model="bbox.miny">
          </label>
          <label for="maxy">
            <input name="maxy" ng-model="bbox.maxy">
          </label>

          <label>
            Or use the map:
          </label>
          <div id="map" class="col-md-4"></div>
        </fieldset>
      </fieldset>
      
      <fieldset ng-show="serviceType == 'WMS'">
        <label for="layer">
          Select the layers to request:
          <select name="layer" ng-model="layer" ng-options="layer as layer.name for layer in layers"></select>
        </label>

        <fieldset>
          Input image width and height:
          <label for="width">
            <input name="width" type="number" ng-model="width" step="10" min="0">
          </label>
          <label for="height">
            <input name="height" type="number" ng-model="height" step="10" min="0">
          </label>
        </fieldset>
      </fieldset>

      <fieldset ng-show="serviceType == 'WFS'">
        <label for="typeName">
          Select the name of the feature type:
          <select name="typeName" ng-model="typeName" ng-options="type as type.name for type in typeNames"></select>
        </label>
        
        <label for="featureLimit">
          Maximum number of features for this request:
          <input name="featureLimit" type="number" ng-model="featureLimit"></input>
        </label>        
      </fieldset>
    </form>

    <p>
      WMS URL: <a ng-href="{{ url() }}">{{ url() }}</a>
    </p>
  </body>
</html>
