<!doctype>
<html ng-app="wms-builder">
  <head>
    <title>WMS Builder</title>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="js/wms-builder.js"></script>

  </head>

  <body ng-controller="builder">
    <h1>WMS Builder</h1>

    <form>
      <fieldset>
        <label for="host">
          Select a WMS server:
          <select name="host" ng-model="host" ng-options="hostUrl as hostName for (hostName, hostUrl) in hosts"></select>
        </label>

        <label for="serviceType">
          Select a service type:
          <select name="serviceType" ng-model="serviceType" ng-options="serviceType as serviceName for (serviceName, serviceType) in serviceTypes"></select>
        </label>

        <label for="requestType">
          Select a request type:
          <select name="requestType" ng-model="requestType" ng-options="requestType as requestName for (requestName, requestType) in requestTypes|isIn:serviceType.requestTypes"></select>
        </label>  

        <label for="format">
          Select an output format
          <select name="format" ng-model="format" ng-options="format as formatName for (formatName, format) in formats|isIn:serviceType.outputFormats"></select>
        </label>  
      </fieldset>
      
      <fieldset>
        <label for="typeName">
          Enter the feature type's name:
          <input name="typeName" ng-model="typeName" placeholder="set:name"></input>
        </label>
        
        <label for="featureLimit">
          Maximum number of features for this request:
          <input name="featureLimit" type="number" ng-model="featureLimit"></input>
        </label>        
      </fieldset>
    </form>

    <p>
      WMS URL: <a ng-href="{{ url() }}">{{ url() }}</a>
    </p>
  </body>
</html>
